<!DOCTYPE html>
<html lang="ko">
<body>
  <footer class="footer">
    <ul class="footer__list">
      <li class="cs">
        <p>고객센터</p>
        <strong>010-6552-3077</strong>
      </li>
      <li class="bank">
        <p>무통장 계좌안내</p>
        <span>국민은행 52230101295780 (예금주: 장부영)</span>
      </li>
      <li class="link">
        <a href="#">이용약관</a>
        <a href="#"><strong>개인정보처리방침</strong></a>
      </li>
    </ul>
    <div class="addr">
      <span>
      <em>라임올리브</em>
      </span>
      <span>
        작성자
        <em>장부영</em>
      </span>
      <span>
        이메일
        <em>wkdqndud120@naver.com</em>
      </span> 
      <span>
        사업자번호
        <em>12345678910</em>
      </span>
      <span>
        통신판매업신고번호
        <em>도소매</em>
      </span>
      <span>
        주소
        <em>경기도 고양시 일산동구 하늘마을 1로 105 (중산동) 302동 1001호</em>
      </span>
      <span>
        Copyright ⓒ 라임올리브. All Rights Reserved. Hosting by blogpay
    </span>
    </div>
  </footer>
</body>
</html>