<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>라임올리브</title>
</head>
<body>
  <top-menu class="top-menu">
    <nav class="top__nav">
      <ul>
        <li class="top__nav-item">
          <a href="https://jangbooyeong.github.io/limeolive/pages/login.html">로그인</a>
        </li>
        <li class="top__nav-item">
          <a href="https://jangbooyeong.github.io/limeolive/pages/join.html">회원가입</a>
        </li>
        <li class="top__nav-item">
          <a href="#">마이페이지</a>
        </li>
        <li class="top__nav-item">
          <a href="#">장바구니</a>
        </li>
      </ul>
    </nav>
  </top-menu>
</body>
</html>
